.username_input {
    padding-top: 14px;
    padding-bottom: 14px;
    max-width: 387px;
    font-weight: 700;
}

.password_input {
    padding-top: 14px;
    padding-bottom: 14px;
    max-width: 387px;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    margin-top: 42px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 387px;
    color: #fff;
    background: #000;
    // margin-left: 220px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
}


.register {
    padding-top: 100px;
    padding-bottom: 100px;
}


.register_title {
    color: #000;
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}

.first {
    text-align: center;
}

.second {
    text-align: center;
    margin-top: 22px;
}